h1 {
        color: #FCA205;
	font-family: 'Lobster';
	text-align: center;
    }

body 
    {
        padding-left: 15px;
    }

.name{
	color: #FCA205;
	font-family: 'Lobster';
	text-align: center;
}
